/*CSS DOCUMENT*/

body{
    border-top:4.5em #A8CBCF solid;
    margin:0;
}
h1{ 
    text-align: center;
    font-family: serif;
    color:#A6592D;
    font-size: 3em;
    margin:1em 0.5em .5em 0.5em;
    }

h2{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.25em;
    color:#D17E4D;
    font-size:1.5em;
    margin:0.5em 0.5em 0em 0.5em;
    }

.intro p{
         text-align: center;
         margin:auto;
         width:50%
          }

img{width: 100%;}

.introimage{
            width:45%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            margin-top: 3em;
            }

.ingredients{
             float:left;
             font-family:serif;
             margin:3em 2em .5em 3em;
             width: 40%;
              }

.ingredients h3{
                text-align:center;
                color:#BD4A2A;
                padding:0.5em;
                }

.directions {
            float:right;
            font-family:serif;
            margin:3em 3em 2em 0em;
            width:40%;
            
            }

.directions h3{ 
                text-align: center;
                color:#BD4A2A;
                padding:0.5em;
                }

footer{
        background-color:#A8CBCF ;
        padding:0.25em;
        float:none;
        clear:both;
        text-align: center;
        font-size:1em;
        font-family:sans-serif;
}

h6{
    color:#FFFFFF;
}
